extends layout

block content
	h1= title

	if timetable.length != 0
		table
			tr
				th Línea
				th PMR
				th Destino
				th Tiempo (min)
			each bus in timetable
				if bus.time != 0
					tr
						td #{bus.line}
						td
							if bus.prm
								span ✓
						td #{bus.destination}
						td #{bus.time}
				else
					tr.blink
						td #{bus.line}
						td
							if bus.prm
								span ✓
						td #{bus.destination}
						td #{bus.time}
	else
		p No hay autobuses próximos

	p
		a(href="/") Inicio
