extends layout

block content
	h1= title
	
	if horarios.length != 0
		table
			tr
				th Línea
				th Destino
				th Tiempo
			each horario in horarios
				if horario.tiempo != 0
					tr
						td #{horario.linea}
						td #{horario.dest}
						td #{horario.tiempo}
				else
					tr.blink
						td #{horario.linea}
						td #{horario.dest}
						td #{horario.tiempo}
	else
		p No hay autobuses próximos

	p
		a(href="/") Inicio